<!DOCTYPE html>
<html>
<head>
    <title>Редактирование пользователя</title>
    <meta charset="utf-8" />
    <style>
      body {
        font-family: math;
      }
      input[type=submit], a {
        background: #6495ed;
        padding: 6px 15px 6px 15px;
        cursor: pointer;
        border: solid 2px #3F51B5;
        font-size: medium;
        text-decoration: none;
        color: black;
        font-family: monospace;
      }
      input[type=submit]:hover, a:hover {
        background: #5780cb;
        color: white;
        font-weight: bold;
      }
      .field {
        background: #ffd9d2;
        padding: 6px;
      }
    </style>
</head>
<body>
    <h1>Редактирование пользователя</h1>
     <form action="/edit" method="POST">
        <input type="hidden" name="id" value="{{user.id}}" />
        <label>Имя</label><br>
        <input name="name" value="{{user.name}}"  class="field" /><br><br>
        <label>Возраст</label><br>
        <input name="age" type="number" min="1" max="110" value="{{user.age}}" class="field" /><br><br>
        <input type="submit" value="Отправить" />
     </form>
     <br /><a href="/">К списку пользователей</a>
</body>
<html>
